.container {
width: 100%;
text-align: justify;

}

.Top {
 margin: 0px auto;
 width: 70%;
 font-size:150%;
}

.Bottom {
  margin: 0px auto;
  width: 70%;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
}
